html, body {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

#loading {
  text-align: center;
  padding: 4px;
}

#loading::first-line {
  font-weight: bold;
}

.site {
  padding: 4px 16px;
  display: block;
  white-space: nowrap;
  text-decoration: inherit;
  color: inherit;
}

.site:hover {
  background-color: rgba(51, 7, 7, 0.06);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.site:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.disabled {
  display: none;
}
